@import './styles/_indigo-rounded.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;          /* ~ white */
    --foreground: 240 10% 3.9%;       /* ~ slate-950 */
    --card: 0 0% 100%;                /* ~ white */
    --card-foreground: 240 10% 3.9%;  /* ~ slate-950 */
    --popover: 0 0% 100%;             /* ~ white */
    --popover-foreground: 240 10% 3.9%; /* ~ slate-950 */
    --primary: 243 75% 59%;           /* ~ indigo-500/blue-600 */
    --primary-foreground: 0 0% 98%;   /* ~ gray-50 */
    --secondary: 240 4.8% 95.9%;      /* ~ gray-100 */
    --secondary-foreground: 240 5.9% 10%; /* ~ slate-800 */
    --muted: 240 4.8% 95.9%;          /* ~ gray-100 */
    --muted-foreground: 240 3.8% 46.1%; /* ~ gray-500 */
    --accent: 240 4.8% 95.9%;         /* ~ gray-100 */
    --accent-foreground: 240 5.9% 10%; /* ~ slate-800 */
    --destructive: 0 84.2% 60.2%;     /* ~ red-500 */
    --destructive-foreground: 0 0% 98%; /* ~ gray-50 */
    --border: 240 5.9% 90%;           /* ~ gray-200 */
    --input: 240 5.9% 90%;            /* ~ gray-200 */
    --ring: 243 75% 59%;              /* ~ indigo-500/blue-600 */
    --radius: 0rem;                   /* ~ square corners */
  }

  .dark {
    --background: 240 10% 3.9%;      /* ~ slate-950 */
    --foreground: 0 0% 98%;          /* ~ gray-50 */
    --card: 240 10% 3.9%;            /* ~ slate-950 */
    --card-foreground: 0 0% 98%;     /* ~ gray-50 */
    --popover: 240 10% 3.9%;         /* ~ slate-950 */
    --popover-foreground: 0 0% 98%;  /* ~ gray-50 */
    --primary: 239 84% 67%;          /* ~ blue-500 */
    --primary-foreground: 210 20% 98%; /* ~ slate-50 */
    --secondary: 240 3.7% 15.9%;     /* ~ zinc-800 */
    --secondary-foreground: 0 0% 98%; /* ~ gray-50 */
    --muted: 240 3.7% 15.9%;         /* ~ zinc-800 */
    --muted-foreground: 240 5% 64.9%; /* ~ zinc-400 */
    --accent: 240 3.7% 15.9%;        /* ~ zinc-800 */
    --accent-foreground: 0 0% 98%;   /* ~ gray-50 */
    --destructive: 0 62.8% 30.6%;    /* ~ red-800 */
    --destructive-foreground: 0 0% 98%; /* ~ gray-50 */
    --border: 240 3.7% 15.9%;        /* ~ zinc-800 */
    --input: 240 3.7% 15.9%;         /* ~ zinc-800 */
    --ring: 239 84% 67%;             /* ~ blue-500 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .default-button {
    @apply rounded border px-3 py-2 text-sm flex items-center
  }
  /* On hover, increase brightness */
  .default-button:hover {
    filter: brightness(1.3);
  }
}